{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/index.css">
{% endblock %}

{% block content %}
    <div id="hero">
        <div class="math-symbols" id="mathSymbols"></div>
        <div id="hero-content">
            <h1>Create a habit out of maths.</h1>
            <h1>For free.</h1>
            <p>Based on the <b>Leaving Certificate Maths curriculum</b>, you will be offered a problem to solve for each day of the year. From algebra to geometry, each problem is different and requires a different solution today than the one yesterday.</p>
            <a href="/login" class="cta-button">Start Your Journey</a>
        </div>
    </div>

    <aside>
        <span>
            <h1>We are open source!</h1>
            <p>DailyMATHS.ie is proudly open source. You are free to contribute and view the source code on GitHub. Also, feel free to contact me with any question ideas!</p>
            <a href="https://github.com/TheRealSouls/mathsdaily" target="_blank" rel="noopener noreferrer" class="cta-button-2">View repository</a>
        </span>
        <img src="../static/images/github-logo.png" width="250" alt="GitHub logo">
    </aside>

    <div id="features-grid">
        <h1>How DailyMATHS.ie works</h1>
        <p class="desc">Discover a blend of results and motivation.</p>

        <div class="container">

            <div class="feature-card fade-in">
                <div class="feature-icon"><i class="fa-solid fa-chart-line fa-4x"></i></div>
                <h3>Consistency</h1>
                <p>If you solve one problem a day, you solve 365 per year. This consistency leads to <a href="https://www.researchgate.net/publication/391205475_Small_changes_big_impact_A_mini_review_of_habit_formation_and_behavioral_change_principles" target="_blank" rel="noopener noreferrer">real results</a>.</p>
            </div>

            <div class="feature-card fade-in">
                <div class="feature-icon"><i class="fa-solid fa-chart-simple fa-4x"></i></div>
                <h3>Statistics</h1>
                <p>We have a <a href="/leaderboard" target="_blank" rel="noopener noreferrer">leaderboard</a> for friendly competition and keep track of how many problems you have solved.</p>
            </div>
            
            <div class="feature-card fade-in">
                <div class="feature-icon"><i class="fa-solid fa-crown fa-4x"></i></div>
                <h3>High-Quality</h1>
                <p>Our problems and sample solutions are crafted by H1 students. <span class="brackets">(so far it's only me!)</span></p>
            </div>
        </div>
    </div>
    <script src="../static/index.js"></script>
{% endblock %}