{% extends "layouts/auth_layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="../../static/css/homepage.css">
    <link rel="stylesheet" href="../../static/css/challenge.css">
    <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      },
      svg: { fontCache: 'global' }
    };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class="alert {{ category }}">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="meta">
        <h1 id="challenge-title">{{ challenge.problem_id }}. {{ challenge.full_name }}</h1>
        <p class="difficulty-badge {{ challenge.difficulty }}" style="width: 20%; margin: 0 auto;">{{ challenge.difficulty.capitalize() }}</p>
    </div>

    <div class="challenge-container">
        <p id="challenge-content">
            {{ challenge.content | safe }}
        </p>
        
        <h2>Select the correct answer:</h2>
        <form class="challenge-options" method="POST" action="/submit/{{ challenge.problem_id }}">
            {% for i in range(1, 11) %}
            {% set opt = challenge['option' ~ i] %}
            {% if opt %}
            <label>
                <input type="radio" name="answer" value="{{ i }}">
                <span class="option-text"><span class="option-icon">{{ i }}</span> {{ opt | safe }}</span>
            </label><br>
            {% endif %}
            {% endfor %}
            {% if submission %}
                <button class="cta-button">Submit</button>
            {% else %}
                <div class="alert error">You have already attempted this problem.</div>
            {% endif %}
        </form>
        
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if (window.MathJax) {
                MathJax.typesetPromise();
            }
        })
    </script>
{% endblock %}