{% extends "layouts/dashboard_layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block content %}
    <div id="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flash-container">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        {% if errors %}
            <ul class="flash-container">
                {% for message, category in errors %}
                    <li class="{{ category }}">Error: {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div id="login-container">
            <span class="text-container">
                <h1 id="title">Daily<span>MATHS</span>.ie</h1>
                <p class="welcome">Welcome back!</p>
                <p class="continue">Ready to continue?</p>
            </span>
            <form action="/login" method="post">
                <div class="form-group">
                    <input type="text" name="username-email" id="username-email" placeholder="Username or email" class="form-input" required>
                    <div class="input-icon"><i class="fa-solid fa-user"></i></i></div>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Password" class="form-input" required>
                    <div class="input-icon"><i class="fa-solid fa-lock"></i></div>
                    <button class="password-toggle">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>

                <div class="checkbox-group">
                <label class="custom-checkbox">
                    <input type="checkbox" id="rememberMe">
                    <span class="checkmark"></span>
                </label>
                <label for="rememberMe" class="checkbox-label">Remember me</label>
            </div>

                <button type="submit" class="cta-button-2">Sign In</button>
            </form>

            <div class="divider">
                <span>or</span>
            </div>

            <div class="register-section">
                <p class="register-text">No account?</p>
                <a href="/register" id="register-link" class="slide-link">Register here!</a>
            </div>
        </div>
    </div>
    <script src="../static/js/login.js"></script>
{% endblock %}